<div>
  <app-head-image></app-head-image>
  <div class="content-container">
    <h1 class="mt-3"><b>Our Company</b></h1>
    <div class="content-set">
      <div><b>Tel:</b> xx-xxx-xxxx</div>
      <div><b>Email:</b> abcdef@xyz.com</div>
      <div><i class="fas fa-phone-square mr-2"></i>01234567890</div>
      <div><i class="fab fa-facebook-square mr-2"></i>facebook.com/tester</div>
      <div><i class="fab fa-twitter-square mr-2"></i>twitter.com/tester</div>
      <div><i class="fab fa-line mr-2"></i>@abcdefg</div>
    </div>
  </div>
</div>
