<div>
  <app-head-image [headTitle]="'About Us'"></app-head-image>
  <div class="bg-container">
    <div class="logo">Logo</div>
    <div class="content">
      &nbsp;&nbsp;&nbsp;Nowadays, online shopping has become a major role in
      customer behaviors. The demand in delivery also increases dramatically due
      to the changes in customer behavior and global issues. However, there are
      also a low warranty for lost goods and damages goods while delivering from
      the firms. GMS COMPANY - Insurance Company, has acknowledged the situation
      and launched a new insurance for taking care of the goods delivery for
      customers and online businesses.
    </div>
  </div>
</div>
