<div class="blur-bg">&nbsp;</div>
<div class="all-container">
  <div class="half-divider">
    <div class="left-bg logo">
      <div></div>
      <div>Logo</div>
      <div></div>
    </div>
    <div class="right-bg">
      <div class="close-btn">
        <i class="btn fas fa-times" (click)="closeClick()"></i>
      </div>
      <form [formGroup]="form">
        <div class="right-content">
          <div class="right-head">Welcome</div>
          <div class="form-container mb-3">
            <div class="form-divider mb-2">
              <div class="col-form-label">Email</div>
              <input
                class="form-control"
                type="text"
                formControlName="email"
                #emailInput
              />
            </div>
            <div class="form-divider">
              <div class="col-form-label">Password</div>
              <input
                class="form-control"
                type="password"
                formControlName="password"
              />
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row-reverse;
              justify-content: center;
            "
          >
            <button
              type="submit"
              class="btn btn-secondary w-50 ml-1"
              (click)="loginClick()"
            >
              Login
            </button>
            <button class="btn btn-secondary w-50 mr-1" (click)="signUpClick()">
              Sign up
            </button>
          </div>
        </div>
      </form>
      <div></div>
    </div>
  </div>
</div>
