<div class="blur-bg">&nbsp;</div>
<div class="all-container">
  <div class="content-box">
    <div class="sub-content-box">
      <div class="close-btn">
        <i class="btn fas fa-times" (click)="closeClick()"></i>
      </div>
      <div class="form-container">
        <form>
          <h1 class="text-center">Register</h1>
          <div>
            <input type="text" class="form-control" placeholder="Name" />
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Citizen ID" />
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Email" />
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Password" />
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Tel" />
          </div>
          <div class="row m-0">
            <button type="submit" class="btn btn-secondary m-auto pl-5 pr-5">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
