<div class="blur-bg">&nbsp;</div>
<div class="all-container">
  <div class="content-box">
    <div class="sub-content-box">
      <div class="close-btn">
        <i class="btn fas fa-times" (click)="closeClick()"></i>
      </div>
      <div class="form-container">
        <form [formGroup]="form">
          <h1 class="text-center">Register</h1>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Citizen ID"
              formControlName="cid"
            />
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Telephone Number"
              formControlName="telephone"
            />
          </div>
          <div class="row m-0">
            <button
              type="submit"
              class="btn btn-secondary m-auto pl-5 pr-5"
              [disabled]="!form.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
