<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>

<div class="foot">
  <i class="fab fa-facebook" onclick="comingSoon()"> </i>
  <i class="fab fa-twitter" onclick="comingSoon()"> </i>
  <i class="fab fa-instagram" onclick="comingSoon()"> </i>
  <i class="fab fa-pinterest" onclick="comingSoon()"> </i>
  <i class="fab fa-line" onclick="comingSoon()"> </i>
  <i class="fab fa-whatsapp" onclick="comingSoon()"> </i>
  <i class="fab fa-skype" onclick="comingSoon()"> </i>
  <i class="fab fa-telegram" onclick="comingSoon()"> </i>
  <i class="fab fa-youtube" onclick="comingSoon()"> </i>
</div>
