hr {
  width: 100%;
  margin: 10px 0;
}

ul {
  margin-left: 15px;
  padding-left: 0;
}

.package-item {
  display: grid;
  grid-template-rows: 100px 20px auto 1fr auto;
  background-color: rgb(182, 210, 252);
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.package-head {
  font-size: 100px;
  margin: auto;
  font-weight: 700;
}
