<div class="side-bg">
  <div class="side-container">
    <div
      class="side-item"
      [class.selected]="getCurrentPage() == 1"
      [routerLink]="['/packages']"
    >
      Packages
    </div>
    <div
      class="side-item"
      [class.selected]="getCurrentPage() == 2"
      [routerLink]="['/qa']"
    >
      Q&A
    </div>
    <div
      class="side-item"
      [class.selected]="getCurrentPage() == 3"
      [routerLink]="['/contact']"
    >
      Contact Us
    </div>
    <div
      class="side-item"
      *ngIf="checkMember()"
      [class.selected]="getCurrentPage() == 4"
      [routerLink]="['/history']"
    >
      History
    </div>
    <div
      class="side-item"
      *ngIf="checkMember()"
      [class.selected]="getCurrentPage() == 5"
      [routerLink]="['/claim']"
    >
      Claim Form
    </div>
  </div>
</div>
