<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>

<header class="top-background">
  <div class="top-logo">
    <a [routerLink]="['home']"> Sample Logo </a>
  </div>
  <div class="top-user">
    <div *ngIf="memberState() == true" #member>
      <button
        class="btn btn-secondary mr-2"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <i class="fas fa-user mr-2"></i> {{ pageService.user.name }}
      </button>
      <mat-menu #menu="matMenu">
        <button class="btn w-100" (click)="logOutClick()">Log Out</button>
      </mat-menu>
    </div>
    <div *ngIf="memberState() == false" #notMember>
      <button class="btn btn-secondary mr-2" (click)="signUpClick()">
        Sign up
      </button>
      <button class="btn btn-secondary" (click)="loginClick()">Login</button>
    </div>
  </div>
</header>
