<div>
  <app-head-image [headTitle]="'Package Detail'"></app-head-image>
</div>
<div class="package-item">
  <div class="half">
    <h1 class="m-0">Package Name : {{ package.name }}</h1>
    <div class="ml-auto mr-2">Cost : {{ package.price }}</div>
  </div>
  <div class="half half-space">
    <div class="detail-container">Package Description</div>
    <div class="detail-container">
      <div>Package Benefit</div>
      <ul class="m-0 pl-3">
        <li *ngFor="let b of package.benefits">{{ b }}</li>
      </ul>
    </div>
  </div>
  <div class="half half-space">
    <div class="btn btn-secondary w-50" [routerLink]="['/packages']">Back</div>
    <div class="btn btn-secondary w-50 ml-auto" [routerLink]="['./payment']">
      Buy
    </div>
  </div>
</div>
