<div>
  <app-head-image [headTitle]="'Package Detail'"></app-head-image>
</div>
<div class="package-item">
  <div class="half">
    <h1 class="m-0" style="font-weight: 700">Package : {{ package.name }}</h1>
    <div
      class="ml-auto mr-2"
      style="font-size: 23px; display: flex; align-items: center"
    >
      Price : ${{ package.price }} / Year
    </div>
  </div>
  <div class="half half-space">
    <div class="detail-container">
      <div><b>Package Description</b></div>
      <div class="m-0 pl-3">
        {{ package.description }}
      </div>
    </div>
    <div class="detail-container">
      <div><b>Package Benefit</b></div>
      <ul class="m-0 pl-3">
        <li *ngFor="let b of package.benefits">{{ b }}</li>
      </ul>
    </div>
  </div>
  <div class="half half-space">
    <div class="btn btn-secondary w-50" [routerLink]="['/packages']">Back</div>
    <div
      class="btn btn-secondary w-50 ml-auto"
      *ngIf="checkMember()"
      [routerLink]="['./payment']"
    >
      Buy
    </div>
  </div>
</div>
