.package-item {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(190, 190, 190);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  min-height: 70vh;
  grid-gap: 10px;
}

.detail-container {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.half-space {
  grid-gap: 20px;
}
