.foot-container {
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(53, 90, 192);
  position: fixed;
  bottom: 0;
}

.foot-text {
  margin-right: 10px;
  color: white;
  font-size: 10px;
}
