<div class="package">
  <div class="auto-divide">
    <div class="head">Package : {{ package.name }}</div>
    <div style="font-size: 20px">(Amount : $10,000/$20,000)</div>
  </div>
  <div class="package-detail">
    <b>Detail : </b>
    <span class="mr-2" *ngFor="let b of package.benefits; let i = index"
      >{{ b }}<span *ngIf="i != package.benefits.length - 1">,</span></span
    >
  </div>
  <div class="mt-2" style="font-weight: 500">Expired Date: 12 Dec 2021</div>
  <hr />
  <div class="head">Claim Status</div>
  <div class="claim-set mb-5">
    <div *ngFor="let claim of claims; let i = index">
      <app-claim-item [claim]="claim"></app-claim-item>
    </div>
  </div>
</div>
