<div class="package">
  <div class="auto-divide">
    <div class="head">Package : A</div>
    <div style="font-size: 20px">(Amount : $10,000/$20,000)</div>
  </div>
  <div class="package-detail">
    Detail: ......................................
  </div>
  <div class="mt-2" style="font-weight: 500">Expired Date: 12 Dec 2021</div>
  <hr />
  <div class="head">Claim Status</div>
  <div class="claim-set mb-5">
    <div *ngFor="let claim of claims; let i = index">
      <app-claim-item [claim]="claim"></app-claim-item>
    </div>
  </div>
</div>
