<div *ngIf="this.index == 0" class="head-bg">
  <div class="head-text">About Us</div>
</div>
<div *ngIf="this.index == 1" class="head-bg">
  <div class="head-text">Packages</div>
</div>
<div *ngIf="this.index == 2" class="head-bg">
  <div class="head-text">Q & A</div>
</div>
<div *ngIf="this.index == 3" class="head-bg">
  <div class="head-text">Contact Us</div>
</div>
<div *ngIf="this.index == 4" class="head-bg">
  <div class="head-text">History</div>
</div>
<div *ngIf="this.index == 5" class="head-bg">
  <div class="head-text">Claim Form</div>
</div>
