.question-topic {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(182, 182, 182);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: start;
}

.text-question {
  font-weight: 600;
}

.text-answer {
  font-weight: lighter;
}
