<div>
  <app-head-image></app-head-image>
  <div class="package">
    <div class="head">Package : A</div>
    <div class="package-detail">
      Detail ......................................
    </div>
    <hr />
    <div class="head">Claim Status</div>
    <div class="claim-set mb-5">
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
      <app-claim-item></app-claim-item>
    </div>
  </div>
</div>
