<div>
  <app-head-image [headTitle]="'Claim Form'"></app-head-image>
  <form [formGroup]="myForm">
    <div class="half box-border mb-5">
      <div class="space" id="left">
        <div class="half13">
          <div class="form-text">Name</div>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="half13">
          <div class="form-text">Delivery Company</div>
          <select class="form-control" id="company" formControlName="company">
            <option value="1">Kerry</option>
            <option value="2">J&T</option>
            <option value="3">DHL</option>
            <option value="4">Thai Post</option>
          </select>
        </div>
        <div class="half13">
          <div class="form-text">Tracking Number</div>
          <input type="text" formControlName="tracking" class="form-control" />
        </div>
        <div class="half13">
          <div class="form-text">Price</div>
          <input type="text" formControlName="price" class="form-control" />
        </div>
        <div class="half13">
          <div class="form-text">Package</div>
          <select class="form-control" id="package" formControlName="package">
            <option value="1">Valid Package(1)</option>
            <option value="2">Valid Package(2)</option>
            <option value="3" disabled>Invalid Package(3)</option>
            <option value="4">Valid Package(4)</option>
          </select>
        </div>
        <div class="halfPic">
          <div>Claim Picture</div>
          <input type="file" accept="image/*" (change)="showPreview($event)" />
        </div>
        <!-- <div style="justify-self: center"> -->
        <button
          type="submit"
          class="btn btn-secondary w-100"
          [disabled]="!myForm.valid"
        >
          Submit
        </button>
        <!-- </div> -->
      </div>
      <div class="img-box" #right>
        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
          <img [src]="imageURL" [alt]="form.value.name" width="300" />
        </div>
        <div class="imagePreview" *ngIf="!imageURL">
          <img src="'../../../../../assets/images/none-icon.png" width="300" />
          <div style="color: rgb(185, 185, 185)">
            Could not found any image to upload
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
