<div>
  <app-head-image [headTitle]="'Claim Form'"></app-head-image>
  <form [formGroup]="myForm">
    <div class="half box-border mb-5">
      <div class="space" id="left">
        <div class="half13">
          <div>Name</div>
          <input type="text" formControlName="name" />
        </div>
        <div class="half13">
          <div>Tracking Number</div>
          <input type="text" formControlName="tracking" />
        </div>
        <div class="half13">
          <div>Package</div>
          <input type="text" formControlName="package" />
        </div>
        <div class="half13">
          <div>Delivery Company</div>
          <input type="text" formControlName="company" />
        </div>
        <div class="halfPic">
          <div>Claim Picture</div>
          <input type="file" accept="image/*" (change)="showPreview($event)" />
        </div>
        <!-- <div style="justify-self: center"> -->
        <button
          type="submit"
          class="btn btn-secondary w-100"
          [disabled]="!myForm.valid"
        >
          Submit
        </button>
        <!-- </div> -->
      </div>
      <div class="img-box" #right>
        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
          <img [src]="imageURL" [alt]="form.value.name" width="300" />
        </div>
        <div class="imagePreview" *ngIf="!imageURL">
          <img src="'../../../../../assets/images/none-icon.png" width="300" />
          <div style="color: rgb(185, 185, 185)">
            Could not found any image to upload
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
